/*--------------------------------*/
/*         Navigation             */
/*--------------------------------*/
nav {
  margin: 0 auto;
  max-width: 34em;
  display: flex;
  padding: 0.25em;
  font-family: var(--serif-font);
  border-radius: 2em;
  background-color: var(--toggle-background-color);
  box-shadow: 5px 6px 23px -10px rgba(0, 0, 0, 0.25);
  /* ensure gray shadow does not appear on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent delay on touch devices */
  touch-action: manipulation;
}

nav a {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em 1em;
  border-radius: 2em;
  cursor: pointer;
  text-align: center;
  color: var(--body-text-color);
  line-height: 1;
}

nav a:hover {
  text-decoration: none;
}

nav .active {
  background-color: var(--toggle-selected-color);
}

nav a.active {
  color: var(--header-accent-color) !important;
}

/* Small break-point */
@media screen and (max-width: 36em) {
  nav {
    max-width: 24em;
  }

  nav a {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
  }

  /* Decrease size of label, increase size of icon */
  nav .label {
    font-size: var(--font-size-small);
  }

  /* Add slight top margin to visuall center icon */
  nav .icon {
    margin-top: 0.1em;
    font-size: 1.15em;
  }
}

/*----------------------------*/
/*         Links              */
/*----------------------------*/
.link {
  display: flex;
  gap: 1.85em;
}

.link .preview img,
.link .preview .placeholder {
  display: block;
  width: 10rem;
  height: 6rem;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0px 0px 50px -25px rgba(0, 0, 0, 0.15);
}

.link .preview .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  background-color: rgba(255, 255, 255, 0.25);
}

.link .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link .subcontent {
  margin: 1em 0 0 0;
  display: flex;
  justify-content: space-between;
}

.link .metadata {
  display: flex;
  gap: 0.5em;
  color: var(--faded-text-color-1);
}

.link .metadata .host {
  color: var(--faded-text-color-2);
}

/* Medium break-point */
@media screen and (max-width: 56em) {

  .link .preview img,
  .link .preview .placeholder {
    width: 8rem;
    height: 5rem;
  }

  .link .preview .placeholder {
    font-size: 2em;
  }

  .link .metadata {
    font-size: var(--font-size-small);
    flex-direction: column;
    gap: 0.5em;
  }

  .link .metadata .bullet {
    display: none;
  }

  .link .subcontent {
    align-items: flex-end;
  }
}

/* Small break-point */
@media screen and (max-width: 36em) {

  .link {
    gap: 0.85em;
  }

  .link .preview img,
  .link .preview .placeholder {
    margin-top: 0.25rem;
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
  }
}

/*-----------------------------------*/
/*         Link Details              */
/*-----------------------------------*/
.link-details {
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}

.link-details.open {
  visibility: visible;
  height: auto;
  opacity: 1;
  margin-top: 2em;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .link-details.open {
    margin-top: 1em;
  }
}

/* expand button (inline) */
.expand-inline button {
  background: none;
  font-size: 1em;
}

.expand-inline svg {
  width: 1em;
}

/* medium break-point */
@media screen and (max-width: 56em) {
  .expand-inline button {
    font-size: var(--font-size-small);
  }
}

/* expand button (centered) */
.expand-centered {
  display: none;
  margin-top: 0.75em;
}

.expand-centered button {
  display: block;
  font-size: var(--font-size-small);
  margin: 0 auto;
  padding: 0.35em 2em;
  border-radius: 1em;
  background: var(--button-background);
  /* ensure gray shadow does not appear on tap */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* prevent delay on touch devices */
  touch-action: manipulation;
}

.expand-centered button:active {
  background: var(--button-background-active);
}

.expand-centered svg {
  display: block;
  width: 1.25em;
}

.expand-centered button.open svg {
  transform: rotate(180deg);
}

.expand-centered button svg {
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

/* expand buttons (shared) */
.expand-centered button,
.expand-inline button {
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  color: var(--link-color);
  border: none;
}

.expand-centered .inner,
.expand-inline .inner {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.expand-centered button.open svg,
.expand-inline button.open svg {
  transform: rotate(180deg);
}

.expand-centered button svg,
.expand-inline button svg {
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

/* small break-point */
@media screen and (max-width: 36em) {
  .expand-inline {
    display: none;
  }

  .expand-centered {
    display: block;
  }
}

/*---------------------------------------*/
/*         Recommended posts             */
/*---------------------------------------*/
.recommended-posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
}

/* Medium break-point */
@media screen and (max-width: 56em) {
  .recommended-posts {
    /* Convert to horizontal scroll */
    display: flex;
    overflow-x: auto;

    /* Extend beyond body's padding dynamically */
    margin-left: calc(-1 * var(--body-padding));
    margin-right: calc(-1 * var(--body-padding));
    padding-left: var(--body-padding);
    padding-right: var(--body-padding);
  }

  .recommended-posts::-webkit-scrollbar {
    /* Hide scrollbar */
    display: none;
  }
}

.recommended-post {
  padding: 1em;
}

/* Medium break-point */
@media screen and (max-width: 56em) {
  .recommended-post {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 20em;
  }
}

.recommended-post .inner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recommended-post .username {
  font-family: var(--serif-font);
}

.recommended-post .handle {
  font-size: 0.85em;
}

.recommended-post .text {
  margin-top: 0.5em;
  font-size: 0.85em;
  line-height: 1.75;
}

.recommended-post .view-more {
  margin-top: 0.75em;
  font-size: var(--font-size-small);
  text-align: right;
}