---
import ContributionButton from "./ContributionButton.astro";
---

<footer>
  <ContributionButton />
  <p><a href="/about/">Learn more about this site</a></p>
  <!-- 100% privacy-first analytics -->
  <script async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</footer>
